<h1>Animali</h1>
<div *ngFor="let animale of lista">
 <p>{{animale.info()}}</p>
</div>


<h1>Utenti</h1>
<div *ngFor="let utente of Lista">
  <p>{{utente.info()}}</p>
</div>


<h1>Auto</h1>
<div *ngFor="let auto of vetture">
  <p>{{auto.info()}}</p>
</div>

<h1>Apparecchio</h1>
<div *ngFor="let apparecchio of apparecchi">
  <p>{{apparecchio.info()}}</p>
</div>


<h1>Impiegato</h1>
<div *ngFor="let impiegato of impiegati">
  <p>{{impiegato.info()}}</p>
</div>

<h1>Azienda</h1>
<div *ngFor="let azienda of aziende">
  <p>{{azienda.info()}}</p>
</div>


<h1>Giocatore</h1>
<div *ngFor="let giocatore of giocatori">
  <p>{{giocatore.infoGioca()}}</p>
</div>

<h1>Squadra</h1>
<div *ngFor="let squadra of squadre">
  <p>{{squadra.infoSquadra()}}</p>
</div>